@import "./node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;900&display=swap');

$bodyBackground:#F5F6FF;
$starColor: #F8AB18;
$cardBackground: #FFFFFF;;
$borderStyle: #D7D9E8;
$searchIconColor: #747988;
$btnPickUpColor: #4571F5;
$borderColor: #D7D9E8;
$fontSize1: 18px;
$fontSize2: 16px;
$fontSize3: 14px;


body{
    margin: 0px;
    padding: 0px;
    background-color: $bodyBackground;
    font-family: 'Mulish', sans-serif;
}

.container{
    justify-content: center;
    display: flex;
}
.product__main--background{
    position: relative;
    border-radius: 24px;
    background-color: $btnPickUpColor;
    height: 899px;
    max-width: 483px;
    width: 100%;
}

.product__main {
    border-radius: 24px;
    background-color: $cardBackground;
    height: 899px;
    position: absolute;
    padding: 56px;
    max-width: 483px;
    top: 50px;
    left: 50px;
    width: 100%;
}

.product__detail--title h6{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 16px;
}

.product__detail--icons i{
    font-size: 20px;
    color: $starColor;
}

.product__detail--evaluation{
    font-size: 16px;
    font-weight: 900;
}
.product__detail--circle {
    font-weight: 900;
    font-size: large;
    margin-right: -7px;
}

.product__detail--textColor{
    font-size: 16px;
    color: #747988;
    font-weight: 600;
}

.product__detail--price h5 {
    font-size: 32px;
    font-weight: 900;
    margin-top: 24px;
    margin-bottom: 24px;
}

.product__detail--tabs{
    border: none;
    border-radius: 10px;
    background-color: $bodyBackground;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 8px;
    text-align: center;
    button{
        border: none;
        border-radius: 10px;
        background-color: $bodyBackground;
        font-size: 16px;
        font-weight: 600;
        height: 40px;
        padding: 5px 22px 5px 22px; 
        width: 185px;
    }
    button.active {
        background-color: $cardBackground;
        box-shadow: 0px 5px 5px rgba(0, 44, 168, 0.06);

    }
}

.product__detail--search{
    display: flex;
    flex-direction: row;
    border: solid 1px $borderStyle;
    border-radius: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
    height: 52px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
    span {
        color: $searchIconColor;
        height: 32px;
        width: 32px;
        margin-top: 15px;
    }
}

.product__detail--content--add-cart{
    border: solid 1px $borderStyle;
    border-radius: 16px;
    margin-bottom: 8px;
    padding: 16px;
    height: 193px;
    p{
        font-size: $fontSize1;
        font-weight: 700;
        margin-bottom: 8px;
    }
    span{
        font-size: $fontSize1;
        font-weight: 400;
    }
    h4{
        font-size: $fontSize2;
        font-weight: 400;
    }
    h5{
        font-size: $fontSize3;
        font-weight: 400;
        color: $searchIconColor;
    }
    button {
        border-radius: 12px;
        background-color: $btnPickUpColor;
        font-size: 18px;
        font-weight: 600;
        height: 55px;
        margin-top: 10px;
    }
}
.product__detail--tabsContent{
        display: none;
}

.product__detail--tabsContent.active{
        display: block;
}   

.product__detail--content {
    border: solid 1px $borderStyle;
    border-radius: 16px;
    margin-bottom: 8px;
    padding: 16px;
    height: 109px;
    p{
        font-size: $fontSize1;
        font-weight: 700;
        margin-bottom: 8px;
    }
    span{
        font-size: $fontSize1;
        font-weight: 400;
    }
    h4{
        font-size: $fontSize2;
        font-weight: 400;
    }
    h5{
        font-size: $fontSize3;
        font-weight: 400;
        color: $searchIconColor;
    }
}

.product__detail--content-title {
    color: $searchIconColor;
    font-size: 14px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 16px;
}
@media only screen and (max-width : 475px) {
    .product__main {
        padding: 20px;
    }
}

@media only screen and (max-width : 425px) {
    .product__main {
        padding: 10px;
        padding-top: 30px;
        left: 10px;
    }
    .product__detail--content {
        margin-bottom: 25px;
    }
    .product__detail--content-title{
        margin-top: 30px;
    }
}

@media only screen and (max-width : 375px) {
    .product__main {
        padding: 10px;
        padding-top: 30px;
    }
    .product__detail--title h6{
        font-size: 20px;
    }
    .product__detail--tabs{
        button{
            font-size: 14px;
        }
    }
    .product__detail--content {
        margin-bottom: 30px;
    }
    .product__detail--content-title{
        margin-top: 35px;
    }
}

@media only screen and (max-width : 325px) {
    .product__main {
        padding: 10px;
        padding-top: 30px;
    }
    .product__detail--tabs{
        button{
            font-size: 11px;
        }
    }
    .product__detail--content {
        margin-bottom: 30px;
    }
    .product__detail--content-title{
        margin-top: 35px;
    }
}
